@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Balsamiq+Sans&family=Ubuntu+Mono&family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

p {
  padding: 0.7rem 0;
  line-height: 1.6; }

h1,
h2 {
  font-family: 'Balsamiq Sans', cursive; }

h2 {
  font-size: 2.5rem; }

ul {
  list-style: none; }

#home .navbar nav, #home .home-content, #about .cards-container, #projects .cards-container, #contact .contact-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  height: 100%; }

#home .home-content .home-content-container .content .center-container a {
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-align: center;
  border: none;
  transition: opacity 0.4s ease-out; }

.tech {
  display: inline;
  font-size: 1.2rem;
  text-emphasis: bold;
  color: #fff48f; }

.visible {
  transform: translateX(0) !important;
  opacity: 1 !important;
  visibility: visible !important; }

#home {
  min-height: 100vh;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #home .navbar {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    background: #333;
    z-index: 2; }
    #home .navbar nav {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #home .navbar nav ul {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 1.2rem;
        z-index: 1;
        display: flex; }
        #home .navbar nav ul li {
          transition: border-color 0.4s ease-out;
          border-bottom: 2px transparent solid;
          margin-left: 3rem;
          padding: 0.6rem 0; }
          #home .navbar nav ul li a {
            transition: color 0.4s ease-out; }
          #home .navbar nav ul li:hover {
            border-color: #fff48f; }
            #home .navbar nav ul li:hover a {
              color: #fff48f; }
      #home .navbar nav .menu-wrap {
        display: none; }
      #home .navbar nav .logo h1 {
        font-family: 'Rock Salt', cursive;
        color: #fff48f;
        font-size: 1.6rem; }
  #home .home-content {
    padding-top: 90px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    #home .home-content .home-content-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
      #home .home-content .home-content-container .terminal {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 400px;
        margin-right: 2rem;
        padding: 1rem;
        border-radius: 20px;
        background: rgba(51, 51, 51, 0.8);
        color: #fff;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.4rem;
        line-height: 1.6;
        overflow: hidden; }
        #home .home-content .home-content-container .terminal .center-container {
          width: 600px;
          min-height: 300px;
          margin: auto; }
        #home .home-content .home-content-container .terminal .const-color,
        #home .home-content .home-content-container .terminal .param-color {
          color: #0278ae; }
        #home .home-content .home-content-container .terminal .var-color {
          color: #51adcf; }
        #home .home-content .home-content-container .terminal .obj-name-color {
          color: #b2deec; }
        #home .home-content .home-content-container .terminal .func-color {
          color: #fff48f; }
        #home .home-content .home-content-container .terminal .property-color {
          color: #df9b6e; }
        #home .home-content .home-content-container .terminal .value-color {
          color: #bbd196; }
      #home .home-content .home-content-container .content {
        min-height: 400px;
        width: 100%;
        background: rgba(51, 51, 51, 0.8);
        padding: 1rem;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; }
        #home .home-content .home-content-container .content .center-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          #home .home-content .home-content-container .content .center-container .personal-img img {
            max-width: 150px;
            padding-bottom: 0.5rem; }
          #home .home-content .home-content-container .content .center-container p {
            color: #fff;
            text-align: center;
            font-size: 1.3rem; }
          #home .home-content .home-content-container .content .center-container a {
            background: #fff48f;
            color: #333;
            border-radius: 5px;
            margin-top: 1rem;
            font-family: 'Balsamiq Sans', cursive; }
            #home .home-content .home-content-container .content .center-container a:hover {
              opacity: 0.5; }

#about {
  background: #222; }
  #about h2 {
    color: #80bdab;
    text-align: center;
    padding: 2rem 0 2rem 0; }
  #about .cards-container {
    display: grid;
    grid-template-areas: 'education education' 'skills skills' 'experience army';
    padding-bottom: 3rem;
    overflow: hidden; }
    #about .cards-container .card {
      background: rgba(128, 189, 171, 0.9);
      padding: 1rem;
      margin: 0.7rem 0;
      border-radius: 10px;
      display: flex;
      align-items: center;
      visibility: hidden;
      opacity: 0; }
      #about .cards-container .card i {
        color: #fff;
        padding: 1rem;
        margin: 0 2rem; }
      #about .cards-container .card p {
        padding: 0.5rem;
        font-size: 1.3rem; }
    #about .cards-container #skills {
      grid-area: skills;
      transform: translateX(-500px);
      transition: all 0.7s ease-out; }
    #about .cards-container #education {
      grid-area: education;
      transform: translateX(500px);
      transition: all 0.7s ease-out; }
    #about .cards-container #experience {
      grid-area: experience;
      transform: translateX(-300px);
      transition: all 0.7s ease-out; }
    #about .cards-container #army {
      grid-area: army;
      margin-left: 1.5rem;
      transform: translateX(300px);
      transition: all 0.7s ease-out; }

#projects {
  background: #222; }
  #projects h2 {
    text-align: center;
    padding: 2rem;
    color: #fff48f; }
  #projects .cards-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    overflow: hidden; }
    #projects .cards-container a:hover {
      opacity: 0.9; }
    #projects .cards-container .card {
      color: #333;
      background: rgba(255, 244, 143, 0.9);
      padding: 1rem;
      margin: 0.7rem 0;
      border-radius: 10px;
      display: flex;
      align-items: center; }
      #projects .cards-container .card img {
        max-width: 300px;
        margin: 0 3rem;
        border-radius: 10px; }
      #projects .cards-container .card .info h3 {
        font-size: 1.4rem; }

#contact {
  background: #222;
  color: #fff;
  height: 400px; }
  #contact .contact-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #contact .contact-container h2 {
      text-align: center;
      padding: 2rem; }
    #contact .contact-container .contact-info-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      #contact .contact-container .contact-info-container .contact-info {
        display: flex;
        align-items: center;
        text-align: left; }
        #contact .contact-container .contact-info-container .contact-info:hover i {
          animation: animationIcon 1s forwards ease; }
      #contact .contact-container .contact-info-container p {
        font-size: 1.3rem; }
      #contact .contact-container .contact-info-container i {
        margin: 1rem; }
    #contact .contact-container .social {
      padding: 1rem; }
      #contact .contact-container .social a {
        padding: 0.5rem;
        transition: color 0.4s ease-out; }
        #contact .contact-container .social a:hover {
          color: #fff48f; }

@keyframes animationIcon {
  25% {
    transform: rotate(20deg); }
  50% {
    transform: rotate(-20deg); }
  75% {
    transform: rotate(20deg); }
  100% {
    transform: rotate(0); } }

footer {
  color: #fff;
  background: #333;
  text-align: center;
  font-size: 0.5rem;
  line-height: 1; }
  footer p {
    padding: 0.3rem 0; }
  footer a:hover {
    color: #fff48f; }
